@import './colors.scss';
@import './mixins.scss';

#App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  #Header,
  #Footer {
    flex: 0;
  }
  > div:not(#Header):not(#Footer) {
    flex: 1;
  }
}
