// useful links for building a palette:

// palette references: https://dribbble.com/colors/66a1ee?percent=30
// darken & brighten: https://www.hexcolortool.com/
// color code triangulator: https://www.sessions.edu/color-calculator/

$white: #ffffff;

$darkBlue: #256092;

:export {
  white: $white;
  darkblue: $darkBlue;
}
